    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
                <title>Ønskesiden</title>
                    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
        </head>

        <body>

            <div class="container">
                <h1>Add wish's</h1>
                <hr>

                    <form action="#" th:action="@{/saveProduct}" th:object="${Product}"
                          method="POST">

                            <input type="text" th:field="*{name}" placeholder="Wish" class="form-control mb-4 col-4"> <!-- Name of product -->
                            <input type="text" th:field="*{size}" placeholder="Size" class="form-control mb-4 col-4"> <!-- Name of product size -->
                            <input type="text" th:field="*{description}" placeholder="Description" class="form-control mb-4 col-4"> <!-- Product description -->
                            <input type="text" th:field="*{color}" placeholder="Color" class="form-control mb-4 col-4"> <!-- Product color -->
                            <input type="text" th:field="*{price}" placeholder="Price" class="form-control mb-4 col-4"> <!-- Product size -->
                            <input type="text" th:field="*{URL}" placeholder="Weblink" class="form-control mb-4 col-4"> <!-- Product link -->

                        <button type="submit" class="btn btn-outline-danger btn-lg mb-3"> Add wish</button>

                    </form>

                <a th:href="@{/overview}"> Return to WishWorld</a>

            </div>
        </body>
    </html>