<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret Bruger</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Opret wishlist</h1>
    <hr>
    <h2>Indtast Oplysninger</h2>

    <form action="#" th:action="@{/saveWishlist}" th:object="${wishlist}"
          method="POST">

        <input type="text" th:field="*{name}"
               placeholder="Navn" class="form-control mb-4 col-4">

        <input type="text" th:field="*{description}"
               placeholder="Beskrivelse" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Gem ønskeliste </button>


    </form>

    <a th:href="@{/overview}"> Tilbage til velkomstside</a>

</div>
</body>
</html>