    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
                <title>Opret Bruger</title>
                    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
        </head>

        <body>
        <div class="container">
            <h1>Create your wishlist</h1>
                <hr>

            <form action="#" th:action="@{/saveWishlist}" th:object="${wishlist}" method="POST">

                    <input type="text" th:field="*{name}" placeholder="Wishlist name" class="form-control mb-4 col-4"> <!-- Name of wishlist -->
                    <input type="text" th:field="*{description}" placeholder="Description" class="form-control mb-4 col-4"> <!-- Description of wishlist -->

                <button type="submit" class="btn btn-outline-danger btn-lg mb-3"> Create wishlist</button>

            </form>

            <a th:href="@{/overview}" class="btn btn-outline-danger btn-sm mb-3">Return to WishWorld</a>

        </div>
        </body>
    </html>