    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
                <title>Opret Bruger</title>
                    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
        </head>

        <body>
        <div class="container">
            <h1>Account informations</h1>

                <form action="#" th:action="@{/saveUser}" th:object="${User}"
                      method="POST">

                        <input type="text" th:field="*{firstname}" placeholder="Firstname" class="form-control mb-4 col-4"> <!-- Firstname -->
                        <input type="text" th:field="*{lastname}" placeholder="Lastname" class="form-control mb-4 col-4"> <!-- Lastname -->
                        <input type="text" th:field="*{email}" placeholder="Email" class="form-control mb-4 col-4"> <!-- Email -->
                        <input type="text" th:field="*{password}" placeholder="Password" class="form-control mb-4 col-4"> <!-- Password -->

                    <button type="submit" class="btn btn-outline-danger btn-lg mb-3"> Create profile</button>

                </form>

            <a th:href="@{/}"> Return to front page</a>

        </div>
        </body>
    </html>