    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
                <title>Login</title>
                    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
        </head>

        <body>
        <div class="container">
            <h1>Login</h1>
            <hr>
            <h2>Insert profile informations</h2>

            <form action="#" th:action="@{/loginBruger}" th:object="${User}" method="POST">

                <input type="email" th:field="*{email}" placeholder="Email" class="form-control mb-4 col-4" required> <!-- Email -->
                <input type="password" th:field="*{password}" placeholder="Password" class="form-control mb-4 col-4" required> <!-- Password -->

                <button type="submit" class="btn btn-outline-danger btn-lg mb-3"> Login </button>

            </form>

            <a th:href="@{/}"> Return to frontpage</a>

        </div>
        </body>
    </html>