<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Site</title>
</head>
<body>
<table>
    <tr><td>Login</td>
        <td>
            <form name="login" action="/login" method="POST">
                Email:<br>
                <input type="text" name="email" value="">
                <br>
                Password:<br>
                <input type="password" name="password" value="">
                <br>
                <input type="submit" value="Submit">
            </form>
        </td>
</table>
</body>
</html>