    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
                <title>Vare liste</title>
                    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
                        <link rel="stylesheet" type="text/css" href="css.css">
        </head>

        <body>
            <div class="container">
                <h1 class="center">Your wishes</h1>
               <!-- <form action="#" th:action="@{/deleteProduct}"></form>-->
                <table class="table table-light table-striped">
                    <thead>
                        <tr>
                            <th class="table-light"> Product Name</th>
                            <th class="table-light"> Product Size</th>
                            <th class="table-light"> Description</th>
                            <th class="table-light"> Color</th>
                            <th class="table-light"> Price</th>
                            <th class="table-light"> Website</th>
                            <th class="table-light"> Delete wish</th>
                        </tr>

                        <tr th:each="Products : ${productlist}">
                            <td th:text="${Products.name}" class="table-light"></td>
                            <td th:text="${Products.size}" class="table-light"></td>
                            <td th:text="${Products.description}" class="table-light"></td>
                            <td th:text="${Products.color}" class="table-light"></td>
                            <td th:text="${Products.price}" class="table-light"></td>
                            <td> <a th:href="${Products.URL}" class="table-light">Go to the website</a> </td>
                            <td><a th:href="@{'/deleteProduct/'+${Products.id}}" class="btn btn-outline-danger" >Delete</a></td>

                        </tr>
                    </thead>
                </table>
                <a th:href="@{/addProduct}" class="btn btn-outline-danger btn-xl mb-3"> Add wishes</a> <!-- Add product -->
                <br>
                <a th:href="@{/overview}" class="btn btn-outline-danger btn-sm mb-3">Return to WishWorld</a>
            </div>
        </body>
    </html>