<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vare liste</title>
    <link rel="stylesheet" type="text/css" href="../book.css">
</head>
<body>


<p th:each="Vare : ${vareliste}">
    <span th:text="${Vare.navn}"></span>
    <span th:text="${Vare.storrelse}"></span>
    <span th:text="${Vare.beskrivelse}"></span>
    <span th:text="${Vare.farve}"></span>
    <span th:text="${Vare.pris}"></span>
    <span th:text="${Vare.URL}"></span>

</p>


<a th:href="@{/overview}">tilbage til velkomstside </a>
</body>
</html>