    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
                <title>This is your wishlists</title>
                    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
        </head>

        <body>
            <div class="container">
                <h1>Wishlist colection</h1>
                    <table class="table table-striped-light">
                        <thead>
                            <tr>
                                <th>Wishlist name</th>
                                <th>Wishlist Description</th>
                            </tr>

                            <tr th:each="Wishlist : ${wishlist}">
                                <td th:text="${Wishlist.name}"></td>
                                <td th:text="${Wishlist.description}"></td>
                            </tr>
                        </thead>
                    </table>
                <a th:href="@{/overview}" class="btn btn-outline-danger btn-sm mb-3">Return to WishWorld</a>
            </div>
        </body>
    </html>