<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is your wishlist</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <h1>This is your wishlist</h1>


    <tr>
        <th> </th>

        <th> </th>
        <a th:href="@{/addProduct}" class="btn btn-primary btn-sm mb-3"> Add products to wishlist</a>

        <th> </th>
        <a th:href="@{/showProducts}" class="btn btn-primary btn-sm mb-3"> Show products on your wishlist </a>

        <a th:href="@{/showWishlist}" class="btn btn-primary btn-sm mb-3"> gå til dine ønskelister</a>

        <a th:href="@{/createWishlist}" class="btn btn-primary btn-sm mb-3"> Create your wishlist </a>

        <a th:href="@{/logout}" class="btn btn-primary btn-sm mb-3"> log out</a>




        <th> </th>

    </tr>
</head>
<body>

</body>
</html>