<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is your wishlist</title>

    <h1>This is your wishlist</h1>


    <tr>
        <th> </th>

        <th> </th>
        <a th:href="@{/opretVare}"> tilføj vare til din ønskeliste</a>

        <th> </th>
        <a th:href="@{/visvare}"> vis vare på liste </a>

        <a th:href="@{/wishlist}"> gå til dine ønskelister</a>

        <a th:href="@{/opretwishlist}"> opret ønskeliste</a>



        <th> </th>

    </tr>
</head>
<body>

</body>
</html>