<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ønskesiden</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Opret Ønskeliste</h1>
    <hr>
    <h2>Indtast Ønske</h2>

    <form action="#" th:action="@{/???? ønskeliste}" th:object="${???ønske}"
          method="POST">

        <input type="text" th:field="*{fornavn}"
               placeholder="Navn" class="form-control mb-4 col-4">

        <input type="text" th:field="*{efternavn}"
               placeholder="Størrelse" class="form-control mb-4 col-4">

        <input type="text" th:field="*{email}"
               placeholder="Beskrivelse" class="form-control mb-4 col-4">

        <input type="text" th:field="*{kodeord}"
               placeholder="Farve" class="form-control mb-4 col-4">

        <input type="text" th:field="*{kodeord}"
               placeholder="Pris" class="form-control mb-4 col-4">

        <input type="text" th:field="*{kodeord}"
               placeholder="URL" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Gem Ønske </button>

    </form>

    <a th:href="@{/}"> Tilbage til velkomstside</a>

</div>
</body>
</html>